spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  jwt:
    access-secret: ${JWT_ACCESS_SECRET}
    access-expire: ${JWT_ACCESS_EXPIRE}
    refresh-secret: ${JWT_REFRESH_SECRET}
    refresh-expire: ${JWT_REFRESH_EXPIRE}